#downloadBtn {
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  z-index: 2;
  right: 10px;
  bottom: 50px;
  position: fixed;
  border: none;
  padding: 0;
  background-color: var(--bright-yellow-color);
  img {
    width: 20px;
    height: 20px;
  }

  @media (min-width: 850px) {
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    img {
      width: 30px;
      height: 30px;
    }
  }
}

#downloadBtn:hover {
  transform: scale(1.1);
}
#downloadBtn:active {
  background-color: var(--green-color);
}
