.contacts {
  transition: all 0.3s ease-in-out;
  grid-area: contacts;
  background-color: var(--black-color);
  color: var(--white-color);
  .contacts__email {
    color: #dddddd;
    text-decoration: none;
  }
  @media (min-width: 850px) {
    .contacts__email {
      font-size: 24px;
    }
  }
}

.contacts:hover {
  box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
}
