.contacts {
  grid-area: contacts;
  background-color: var(--black-color);
  color: var(--white-color);
  .contacts__email {
    color: #dddddd;
    text-decoration: none;
  }
  @media (min-width: 850px) {
    .contacts__email {
      font-size: 24px;
    }
  }
}
