.education {
  grid-area: education;
  .education__list {
    display: grid;
    grid-template-columns: 1fr;

    row-gap: 16px;
    column-gap: 12px;
  }
  .education__item {
    word-break: break-all;
    font-size: 10px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-self: flex-start;
  }

  .education__item:first-child {
    background-color: var(--green-color);
    color: var(--white-color);
    .education__tags {
      color: var(--white-color);
    }
  }

  .education__top {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
  .education__course {
    margin-bottom: 3px;
  }
  .education__year {
  }
  .education__tags {
    line-height: 10px;
    color: var(--dark-green);
    font-size: 8px;
    font-weight: 400;
    word-break: break-all;
  }
  .education__place {
    font-size: 8px;
    font-weight: 400;
  }

  @media (min-width: 400px) {
    .education__list {
      grid-template-columns: repeat(2, 1fr);
    }
    .education__tags {
      width: 84%;
    }
  }

  @media (min-width: 850px) {
    .education__list {
      grid-template-columns: 1fr;
    }
    .education__top {
      align-items: flex-start;
    }
    .education__like {
      width: 20px;
    }
    .education__year {
      font-size: 16px;
      margin-bottom: 15px;
    }
    .education__place {
      font-size: 16px;
    }
    .education__item {
      padding: 25px;
    }
    .education__tags {
      font-size: 14px;
      line-height: 150%;
      margin-bottom: 15px;
    }
    .education__course {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }
}
