.experience {
  grid-area: experience;
  .experience__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .experience__item:nth-child(1) {
    background-color: var(--green-color);
    color: var(--white-color);
    .experience__description {
      li:before {
        background: var(--white-color);
      }
    }
  }
  .experience__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
  .experience__recent {
    font-size: 8px;
    padding: 0 5px;
    font-weight: 500;
    border-radius: 59px;
    min-width: 61px;
    min-height: 16px;
    background: var(--khaki-color);
    color: var(--bright-yellow-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .experience__wrapper {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .experience__years {
    margin-top: 5px;
    margin-bottom: 17px;
    width: 50%;
    font-weight: 500;
  }
  .experience__position {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .experience__description {
    padding-left: 10px;
    line-height: 11px;
    li {
      word-break: normal;
      position: relative;
    }
    li:before {
      position: absolute;
      left: -7px;
      top: 4px;
      content: '';
      height: 2px;
      width: 2px;
      border-radius: 50%;
      background: var(--black-color);
      display: inline-block;
      margin: 0 6px 0 0;
      vertical-align: middle;
    }
  }

  @media (min-width: 595px) {
    .experience__wrapper {
      display: grid;
      grid-template-columns: 2fr 3.5fr;
      gap: 4px;
    }
    .experience__years {
      margin-bottom: 7px;
    }
  }

  @media (min-width: 850px) {
    .experience__description {
      font-size: 14px;
      line-height: 150%;
      li:before {
        top: 8px;
      }
    }
    .experience__recent {
      font-size: 14px;
      min-height: 25px;
      padding: 0 15px;
    }
    .experience__position {
      font-size: 24px;
    }
    .experience__format {
      font-size: 12px;
    }
    .experience__list {
      gap: 20px;
    }
    .experience__years {
      font-size: 12px;
    }
    .experience__wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .experience__item:first-child:before {
      padding: 5px 10px;
      font-size: 12px;
      top: 20px;
      right: 20px;
    }
  }
}
