.self-introduction {
  grid-area: story;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .self-introduction__text {
    flex-grow: 1;
    font-size: 10px;
  }
  .self-introduction__profession {
    font-size: 14px;
    font-weight: 600;
  }
  .self-introduction_name {
    font-size: 12px;
    font-weight: 500;
    color: #5c5c5c;
  }
}
