.tools {
  grid-area: tools;

  .tools__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .tools_item {
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    gap: 20px;
    border-radius: 6px;
    background-color: var(--white-color);
    position: relative;

    img {
      width: 19px;
      height: 19px;
    }
  }
  .tools__subtitle {
    padding: 2px 6px;
    text-align: center;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: var(--black-color);
    border-radius: 59px;
    min-width: max-content;
    max-width: 100%;
    min-height: 11px;
    font-size: 5px;
    font-weight: 500;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 595px) {
    padding-bottom: 3px;

    .tools_item {
      padding: 16px 14px;
      gap: 14px;
      margin: 0 10px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      justify-items: center;
    }
  }
  @media (min-width: 850px) {
    padding-bottom: 25px;
    .tools__list {
      gap: 30px;
    }
    .tools_item {
      padding: 30px;
      gap: 30px;
      img {
        width: 35px;
        height: 35px;
      }
    }
    .tools__subtitle {
      padding: 4px 8px;
      font-size: 16px;
      top: -15px;
    }
  }
}
