:root {
  --green-color: #28d979;
  --dark-green: #149063;
  --bright-yellow-color: #ddf163;
  --gray-color: #f0f0f0;
  --white-color: #ffffff;
  --black-color: #000000;
  --khaki-color: #7e731266;
  --dark-grey: #5c5c5c;
}

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.5;
  box-sizing: border-box;
  word-break: break-all;
}
