@media (max-width: 600px) {
  .cv {
    grid-template-columns: 4fr 4fr;
    grid-template-areas:
      'image story'
      'language language'
      'experience experience '
      'experience experience'
      'tools tools'
      'education education'
      'bloks bloks';
    grid-template-rows: auto;
    grid-row-gap: 10px;
    padding: 10px;
  }

  .experience {
    .experience__wrapper {
      flex-direction: column;
    }
    .experience__description {
      word-break: break-all;
      padding-left: 20px;
      width: 80%;
    }
    .experience__details {
      width: 100%;
    }
  }
}

@media (max-width: 400px) {
  .cv {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    column-gap: 0;
    padding: 10px;
    grid-template-areas:
      'image '
      'story'
      'language'
      'experience '
      'tools '
      'education '
      'bloks';
  }
}
